<article class="portlet panel panel-default">
    <header><a href="@Url.Action("Index", "Admin", new { area = "Orchard.Workflows" })">@T("Workflow Management")</a></header>
    <div class="body">
        <div className="description">@T("You can manage the Workflows of the system here. Please note that changing the workflows needs at-least a basic knowledge of Orchard & its data model.")</div>
    </div>
</article>