<article class="portlet panel panel-default">
    <header><a href="@Url.Action("Index", "Admin", new { area = "Navigation" })">@T("Menus & Navigation Management")</a></header>
    <div class="body">
        <div className="description">@T("You can change the menu's and navigations on the site here.")</div>
    </div>
</article>