<article class="portlet panel panel-default">
    <header><a href="@Url.Action("Index", "Admin", new { area = "Orchard.Projections" })">@T("Custom Queries Management")</a></header>
    <div class="body">
        <div className="description">
            @T("Queries and Projections are allowing you to query, filter and sort Contentitems and display them on a custom Layout. Changing the queries needs basic knowledge of Orchard. For a quick start, you can take a look at this ")
            <a href="http://orchardcollaboration.com/customization-part-1-project-portlets" target="_blank">@T("Post")</a>
        </div>
    </div>
</article>