.log-works .header {
  border-bottom: 1px solid lightgray;
}
.log-works .header .add-item {
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
}
.log-works .header .title {
  float: left;
  margin-top: 15px;
  font-weight: bold;
}
.log-works .header .clear {
  clear: both;
}
.log-works ul {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
}
.log-works .no-item {
  margin-top: 10px;
}
.log-works .t-label {
  display: inline-block;
  min-width: 100px;
  color: gray;
  text-align: right;
  margin-right: 5px;
}
.edit-logwork-modal input,
.edit-logwork-modal textarea {
  width: 90%;
}
.edit-logwork-modal textarea {
  height: 100px;
  max-height: 100px;
  min-height: 100px;
  min-width: 90%;
  max-width: 90%;
}
.edit-logwork-modal .label-row {
  margin-top: 10px;
  font-weight: bold;
}
