<div class="field-container-full-width">
    <div class="label-container">@T("Creation Date")</div>
    <div class="combobox">
        @Display.DateTime(DateTimeUtc: Model.ContentPart.CreatedUtc, CustomFormat: T("MMM dd yyyy")) &nbsp; @Display.DateTime(DateTimeUtc: Model.ContentPart.CreatedUtc, CustomFormat: T("hh:mm"))
    </div>
</div>
<div class="clear"></div>
