<div class="field-container-full-width">
    <div class="label-container">@T("Creation Date")</div>
    <div class="combobox">
        @Model.ContentPart.CreatedUtc.ToString("MMM dd yyyy") &nbsp; @Model.ContentPart.CreatedUtc.ToString("hh:mm")
    </div>
</div>
<div class="clear"></div>
