@if (Model.Html == null || string.IsNullOrEmpty(Model.Html.ToString()))
{
    <div class="well">@T("There is no content")</div>
}
else
{
    <div class="break-text wiki-body">
        @Model.Html
    </div>
}