@using Orchard.Reporting.ViewModels;
@{
    DataReportViewerViewModel dataReportViewerViewModel = Model.Model;
    var data = dataReportViewerViewModel.Data;
}
<h3>@dataReportViewerViewModel.ReportTitle</h3>
