
<div class="contact-link" data-email="@Model.Model.Email" data-text="@T("View in Sugar CRM").Text" data-getcontacturl="@Url.Action("GetSuiteCRMContact", "Sync", new { area = "Orchard.SuiteCRM.Connector" })">

</div>
@using (Script.Foot())
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(".contact-link").getContactLink();
        });
    </script>
}