<div class="meta">
    <i class="icon-calendar"></i>&nbsp;@Display.PublishedState(createdDateTimeUtc: Model.ContentPart.CreatedUtc, publisheddateTimeUtc: Model.ContentPart.PublishedUtc) &nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-user"></i>&nbsp;@Model.ContentPart.Owner.UserName
</div>
<script type="text/javascript">
    $('.meta').parents('div.metadata').addClass('well').addClass('well-sm');
</script>