@model Orchard.CRM.Core.ViewModels.ServiceViewModel
<fieldset>
    <div>
        <div>
            <div>@T("Description")</div>
        </div>
        <textarea id="ServicePart_Description" name="ServicePart.Description">@Model.Description</textarea>
    </div>
</fieldset>
