@using System.Dynamic;
@using Newtonsoft.Json;
@{
    Style.Include("TimeTracking.css");
    string classes = Model.Classes != null ? string.Join(" ", Model.Classes) : string.Empty;

    // route table. We must send the routes to the client, so that in the client we don't have to hard-code the routes
    dynamic routeTable = new ExpandoObject();
    routeTable.AddLogUrl = Url.Action("Add", "Item", new { area = "Orchard.CRM.TimeTracking" });
    routeTable.EditLogUrl = Url.Action("Edit", "Item", new { area = "Orchard.CRM.TimeTracking" });
    Model.Routes = routeTable;

    // Sending translate table to the client
    dynamic translateTable = new ExpandoObject();
    translateTable.Comment = T("Comment").Text;

}
<div class="hidden">
    @{
// Generate Anti forgery token. This token is used by AJAX requests.
    }
    @using (Html.BeginFormAntiForgeryPost())
    {
    }
    <div id="logWorksContainer">
    </div>
    <script type="application/json" id="logWorksData">
        @Html.Raw(JsonConvert.SerializeObject(Model))
    </script>
</div>
@using (Script.Foot())
{
    Script.Require("JQueryUI");
    Script.Require("TimeTrackingWidgets");
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            crm.timeTracking.timeTrackingController("logWorksContainer", "logWorksData");
        });
    </script>
}