@{ 
    string classes = Model.Classes != null ? string.Join(" ", Model.Classes) : string.Empty;
}
<div class="@classes">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</div>