@using System.Dynamic;
@using Newtonsoft.Json;
@{
    Script.Require("JQueryUI");
    Script.Require("ProjectWidgets");
    Script.Require("CRMProjectComponents");
    Script.Require("TinyMce");

    // route table. We must send the routes to the client, so that in the client we don't have to hard-code the routes
    dynamic routeTable = new ExpandoObject();
    routeTable.DisplayTicket = Url.Action("Display", "Ticket", new { area = "Orchard.CRM.Core", id = "{id}", displayType = "{displayType}" });
    routeTable.QuickTicketUpdate = Url.Action("QuickUpdate", "Ticket", new { area = "Orchard.CRM.Core" });
    routeTable.EditTicket = Url.Action("Edit", "Ticket", new { area = "Orchard.CRM.Core", id = "{id}" });
    routeTable.AddComment = Url.Action("Add", "CRMComment", new { area = "Orchard.CRM.Core" });
    Model.Routes = routeTable;
    
    // Sending translate table to the client
    dynamic translateTable = new ExpandoObject();
    translateTable.TicketsTitle = T("Tickets").Text;
    translateTable.NumberOfTickets = T("Number of tickets").Text;
    translateTable.SumSizeOfTickets = T("Total size of tickets in this column").Text;
    translateTable.Type = T("Type").Text;
    translateTable.NoItemInMilestone = T("There is no item in the Milestone").Text;
    translateTable.TotalSize = T("Total Size:").Text;
    translateTable.Priority = T("Priority").Text;
    translateTable.Filter = T("Filter").Text;
    translateTable.Edit = T("Edit").Text;
    translateTable.AddComment = T("Add Comment").Text;
    translateTable.View = T("View").Text;
    translateTable.EditTicket = T("Edit Ticket").Text;
    translateTable.FullView = T("View in full model").Text;
    translateTable.Title = T("Title").Text;
    translateTable.Description = T("Add Comment").Text;
    translateTable.Save = T("Save").Text;
    translateTable.Cancel = T("Cancel").Text;
    translateTable.AddComment = T("Add Comment").Text;
    translateTable.Comment = T("Comment").Text;
    translateTable.Save = T("Save").Text;
    translateTable.Cancel = T("Cancel").Text;
    translateTable.OneTicketPerRow = T("One Ticket per row").Text;
    translateTable.Cardwall = T("Cardwall").Text;
    Model.TranslateTable = translateTable;
}
@{
    // Generate Anti forgery token. This token is used by AJAX requests.
}
@using (Html.BeginFormAntiForgeryPost())
{
}
<script type="application/json" id="milestoneTicketsData">
  @Html.Raw(JsonConvert.SerializeObject(Model)) 
</script>
@using (Script.Foot())
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            crm.project.MilestoneController("milestoneTicketsContainer", "milestoneTicketsData");
        });
    </script>
}
<div id="milestoneTicketsContainer">
</div>