<h3 class="panel-title">
    <span>@T("Edit Permissions - ")</span>
    <a href="@Url.Action("Display", "Project", new { id = Model.Model.Id, area = "Orchard.CRM.Project" })">
        @Model.Model.Record.Title
    </a><span>&nbsp;@T("Project")</span>
</h3>
