<div class="panel panel-default">
    <div class="panel-heading"><a href="@Url.Action("Display", "Project", new { area = "Orchard.CRM.Project", id = Model.Model.ContentItem.Id })"><h3 class="panel-title">@Model.Model.Record.Title</h3></a></div>
    <div class="panel-body"></div>
</div>
