<div class="pull-left project-title">
    <a href="@Url.Action("Display", "Project", new { area = "Orchard.CRM.Project", id = Model.Model.ContentItem.Id })">
        <span class="panel-title">@Model.Model.Record.Title</span>
    </a>
</div>
