@using Orchard.Utility.Extensions;
@{
    string name = Model.ContentField.DisplayName;
}

<div class="field-container-full-width">
    <div class="label-container">@name.CamelFriendly()</div>
    <div class="combobox">
        <span>
           @(Model.Value)
        </span>    
    </div>
</div>
<div class="clear"></div>