@model Orchard.CRM.Core.Settings.TicketsForContentItemPartSettings
<fieldset>
    @Html.EditorFor(m => m.DoNotRenderTicketsFlipFlop)
    <label>@T("Hide Flipflop icon")</label>
    @Html.ValidationMessageFor(m => m.DoNotRenderTicketsFlipFlop)
</fieldset>